<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/lc-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <title> Cadastro </title>
    <style>
        .btn {
            background-image: linear-gradient(to right, #F9A826, #bb7e1d);
        }
        a:hover {
            color: #F9A826;
        }

        .input-div.focus .i i {
            color: #F9A826;
        }

        .input-div:after, .input-div:before {
            border: #F9A826;
        }
    </style>
</head>
<body>
    {{#show}}
    <div class="error"> {{message}} </div>    
    {{/show}}
    <img class="wave" src="/media/wave-yellow.png">
    <div class="container">
        <div class="img">
            <img src="/media/undraw_game_day_ucx9-yellow.svg" alt=""/>
        </div>
        <div class="login-container">
            <form method="post" action="/account/cadastro">
                <img class="avatar" src="/media/undraw_profile_pic_ic-5-t-yellow.svg" alt="">
                <h2> CADASTRO </h2>
                <div class="input-div three">
                    <div class="i">
                        <i class='fas fa-user'></i>
                    </div>
                    <div>
                        <h5>Username</h5>
                        <input class="input" name="userName" id="name" type="text" required>
                    </div>
                </div>
                <div class="input-div one">
                    <div class="i">
                        <i class='fas fa-user'></i>
                    </div>
                    <div>
                        <h5>Email</h5>
                        <input class="input" name="userEmail" id="login" type="email" required>
                    </div>
                </div>
                <div class="input-div two">
                    <div class="i">
                        <i class ='fas fa-lock'></i>
                    </div>
                    <div>
                        <h5>Password</h5>
                        <input class="input" name="userPassword" id="password" type="password" required>
                    </div>
                </div>
                <a href="/account/login"> Already Have an Account? </a>
                <input type="submit" value="Cadastre-se" class="btn">
            </form>
        </div>
    </div>
    <script>
        

const inputs = document.querySelectorAll('.input');

inputs.forEach((input) => {
    input.addEventListener('focus', function parentEdit() {
        let parent = this.parentNode.parentNode
        parent.classList.add('focus')
        console.log(parent)
    });
    input.addEventListener('blur', function parentBlur() {
        let parent = this.parentNode.parentNode
        if(this.value == '' || this.value == ' ') {
            parent.classList.remove('focus')
        }
    });
});
    </script>
</body>
</html>