<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h2> Faça o login </h2>
    <form method="post">
        <input type="email" name="login" id="login" placeholder="email"/>
        <input type="password" name="password" id="password" placeholder="senha"/>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>