<div class="list-item">
    <a href="/home/{{id}}"> <img id="list-img" src="{{addressImage1}}" alt=""/> </a> 
    <div class="list-item-general">
        <h4>{{animeName}}</h4>
        <div class="list-item-desc">
            {{animeDesc}}
        </div>
        <div class="list-item-date">
            última atualização, <span> {{lastChange}} </span>
        </div>
    </div>
    <div class="list-item-rating">
        <h4>Nota</h4>
        <div class="list-item-rate">{{animeRate}}</div>
    </div>
</div>
