<div class="list-item">
    <a href="/home/{{id}}"> <img id="list-img" src="{{addressimage1}}" alt=""/> </a> 
    <div class="list-item-general">
        <h4>{{animename}}</h4>
        <div class="list-item-desc">
            {{animedesc}}
        </div>
        <div class="list-item-date">
            última atualização, <span> {{lastchange}} </span>
        </div>
    </div>
    <div class="list-item-rating">
        <h4>Nota</h4>
        <div class="list-item-rate">{{animerate}}</div>
    </div>
</div>
